

.text-color-message {
    color: red;
}

.text-color-user-message {
    color: green;
}

.hover-pointer:hover {
    cursor: pointer; 
}

.card-chat {
    margin-top: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Coloca el navbar a un lado, y corre los elementos */
header, main, footer {
    padding-right: 300px;
  }

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-right: 0;
    }
}