


<div>
    <ul id="slide-out" class="sidenav sidenav-fixed right-aligned sidenav-section">
        <li><a href="#!"><i class="material-icons">cloud</i>Actualizaciónes recientes</a></li>
        <li><a href="#!">Productos recientes</a></li>
        {{!-- <li><div class="divider"></div></li> --}}
        {{!-- <li><a class="subheader">Producto</a></li> --}}
        <li>
            <ul class="collection with-header">
                <li class="collection-item"><div>Bajilla plegable<a href="#!" class="secondary-content"><i class="material-icons">send</i><i class="material-icons">cancel</i></a></div></li>
            </ul>
        </li>
    </ul>
</div>